<footer>
  <div class="footer">
    <div class="footer-socials">
      <i class="fa-brands fa-square-x-twitter"></i>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <div class="footer-brand">
      <p>&copy; StayEase Pvt. Ltd.</p>
    </div>
    <div class="footer-conditions">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
